//////////////////////////////////////////////////////////////////////////////////////////
//////// Basic Font styles for the entire applucation
//////// Includes headings, basic body and paragraph settings
//////////////////////////////////////////////////////////////////////////////////////////

body {
    //font-family: 'Cormorant Garamond', serif;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
}

p {
    color: var(--color-secondary);
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}