
// Color Variables
// $color-primary: #1B2936; //
$color-primary-dark: #070A0E;
$color-primary: #101820;
$color-primary-light: #1B2936;

$color-secondary-dark: #FEE715;
//$color-secondary-light: #FEF49A;
$color-secondary-light: #fff9c2;

$color-secondary: #FEF071;

//$color-secondary-light: #fffdeb;
//#FEF285
//$color-secondary-light
$color-white: #fffdeb;
$color-black: #070A0E;



