

// CSS Custom properties to be used over the entire app
:root {
    --color-primary: #18242F;
    --color-primary-dark: #101820;
    --color-primary-light: #101820;
    --color-secondary: #FEE715;
    --color-white: #f0f0f0;
    --color-black: #222;
}